@model Frontend.Models.TaskModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete task</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
    </dl>
    
    <form asp-action="DeleteTask">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <input type="button" value="Back to List" onclick="location.href='@Url.Action("MainView")'" class="btn btn-secondary" />
    </form>
</div>


